* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: white;
  background-color: #24252a !important;
}

.info-nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.right-nav {
  display: flex;
  align-content: center;
}

.right-nav {
  font-size: 14px;
}

.navigation {
  display: flex;
  align-content: center;
}

.list-links {
  display: flex;
  align-content: center;
  list-style: none;
}

.list-links span {
  font-size: 1.1rem !important;
  font-weight: 700;
  transition-delay: 100ms;
}

.list-links span:hover {
  border-bottom: 2px dashed #17a2b8;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
